[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
redis = "*"

[packages]
numpy = "*"
requests = "*"
pytest = "*"
elasticsearch = "==6.3.0"
"c084e0c" = {path = "./image-match"}

[requires]
python_version = "3.6"
